<div>
    <td id="mTzP28-frame" style="width: 100%" align="center">
    <table
        id="mTzP28-real"
        style="text-align: left"
        cellspacing="0"
        cellpadding="0"
        border="0"
    >
        <tbody>
        <tr id="mTzP38-chdex" valign="top">
            <td align="center">
            <button>
                <img class="button-link z-button" src="image.png" />
                <input id="myImg" type="file" accept="image/*" />
            </button>
            <button type="button" id="delite">
                Удалить выбраное/выбраные фото
            </button>
            </td>
        </tr>
        <tr id="mTzP38-chdex2" class="z-vbox-separator">
            <td><img style="height: 80px; width: 0" /></td>
        </tr>
        <tr id="mTzP58-chdex" valign="top">
            <td align="center">
            <button>
                <img class="button-link z-button" src="video.png" />
                <input
                id="myVideo"
                type="file"
                accept="video/*"
                width="100"
                height="100"
                />
            </button>
            <button type="button" id="startVideoCycle">Запустить цикл</button>
            <button type="button" id="stopVideoCycle">Прервать цикл</button>
            <button type="button" id="startVideo">Запустить видео</button>
            <button type="button" id="pauseVideo">Пауза</button>
            <button type="button" id="deliteVideo">Удалить видеозапись</button>
            </td>
        </tr>
        <tr id="mTzP58-chdex2" class="z-vbox-separator">
            <td><img style="height: 80px; width: 0" /></td>
        </tr>
        <tr id="mTzP68-chdex" valign="top">
            <td align="center">
            <button>
                <img class="z-button-image" src="audio.png" />
                <input id="myAudio" type="file" accept="audio/*" />
            </button>
            <button type="button" id="startAudioCycle">Запустить цикл</button>
            <button type="button" id="stopAudioCycle">Прервать цикл</button>
            <button type="button" id="startAudio">Запустить аудио</button>
            <button type="button" id="pauseAudio">Пауза</button>
            <button type="button" id="deliteAudio">Удалить аудиозапись</button>
            </td>
        </tr>
        <tr id="mTzP68-chdex2" class="z-vbox-separator">
            <td><img style="height: 0; width: 0" /></td>
        </tr>

        <tr id="mTzP679-chdex" valign="top">
            <td align="center">
            <button style="height: 68px; width: 301px">
                <input
                onclick="this.value='Отправлено'"
                type="button"
                value="Отправить на сервер"
                style="height: 20px; width: 150px"
                />
            </button>
            </td>
        </tr>
        </tbody>
    </table>
    </td>
    Для перемещения поля используйте сочетание левой кнопки мыши и кнопки ALT
</div>
